<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<include>openclose</include>
	<controls>
		<include>Multiimage</include>
		<control type="group">
			<include>BlackBack</include>
			<visible>!Skin.HasSetting(animation)+!Skin.HasSetting(background_dim_1)+!Skin.HasSetting(background_dim_2)+!Skin.HasSetting(background_dim_3)</visible>
		</control>
		<!-- <include>Bleaching</include> -->
		<include condition="!Skin.HasSetting(hide_horizonzvsettings)">HorizonzVSettings</include>
		<include condition="Skin.HasSetting(hide_horizonzvsettings)">ClassicSettings</include>
		<include>Clock</include>
		<include>NavInfo</include>
		<include>Arrows</include>
		<include>BehindDialogFadeOut</include>
		<include>TouchButtons</include>
	</controls>
</window>
