<settings>
    <category label="30000">
        <setting label="30001" type="text" id="email" default=""/>
        <setting label="30002" type="text" id="password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting label="30020" type="enum" id="quality" lvalues="30021|30022|30023|30024" default="3"/>
    </category>
    <category label="30010">
        <setting label="30011" type="bool" id="force_view" default="true"/>
        <setting label="30012" type="select" id="content" enable="eq(-1,true)" values="videos|movies|tvshows|episodes|musicvideos" default="videos"/>
        <setting label="30013" type="number" id="view_id" enable="eq(-2,true)" default="55"/>
    </category>
</settings>