<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<backgroundcolor>$VAR[BackgroundOverlayColor]</backgroundcolor>
    <include>openclose</include>
    <controls>
        <include>Multiimage</include>
		<control type="panel" id="9000">
			<left>40</left>
			<top>170</top>
			<width>1850</width>
			<height>560</height>
			<onleft>9000</onleft>
			<onright>9000</onright>
			<onup>9000</onup>
			<ondown>9000</ondown>
			<include>openclosebox</include>
			<itemlayout height="280" width="370">
				<!-- <control type="image">
					<left>10</left>
					<top>10</top>
					<width>340</width>
					<height>230</height>
					<colordiffuse>grey1</colordiffuse>
					<texture border="2">WhiteBack.png</texture>
				</control> -->
				<control type="image">
					<width>360</width>
					<height>250</height>
					<colordiffuse>grey1</colordiffuse>
					<texture border="2">BlackBack.png</texture>
				</control>
				<control type="image">
					<width>360</width>
					<height>250</height>
					<texture border="4">buttons/ButtonNF.png</texture>
				</control>
				<control type="i mage">
					<left>21</left>
					<top>179</top>
					<width>348</width>
					<height>50</height>
					<texture>BlackBack.png</texture>
				</control>
				<control type="image">
					<left>20</left>
					<top>0</top>
					<width>320</width>
					<height>250</height>
					<aspectratio>keep</aspectratio>
					<colordiffuse>grey1</colordiffuse>
					<texture>$INFO[ListItem.Icon]</texture>
					<align>center</align>
				</control>
				<control type="label">
					<left>20</left>
					<top>179</top>
					<width>320</width>
					<height>50</height>
					<font>impacted18</font>
					<label>$INFO[ListItem.Label]</label>
					<align>center</align>
				</control>
			</itemlayout>
			<focusedlayout height="280" width="370">
				<control type="group">
					<depth>DepthContentPopout</depth>
					<include>focuseffect</include>
					<control type="image">
						<width>360</width>
						<height>250</height>
						<texture border="2">BlackBack.png</texture>
					</control>
					<control type="image">
						<left>10</left>
						<top>10</top>
						<width>340</width>
						<height>230</height>
						<colordiffuse>$VAR[BackgroundOverlayColor]</colordiffuse>
						<texture border="2">WhiteBack.png</texture>
					</control>
					<control type="image">
						<width>360</width>
						<height>250</height>
						<texture border="4">buttons/ButtonNF.png</texture>
					</control>
					<control type="image">
						<left>20</left>
						<top>179</top>
						<width>320</width>
						<height>50</height>
						<texture>BlackBack.png</texture>
					</control>
					<control type="image">
						<left>20</left>
						<top>0</top>
						<width>320</width>
						<height>250</height>
						<aspectratio>keep</aspectratio>
						<texture>$INFO[ListItem.Icon]</texture>
						<align>center</align>
					</control>
					<control type="label">
						<left>20</left>
						<top>179</top>
						<width>320</width>
						<height>50</height>
						<font>impacted18</font>
						<label>$INFO[ListItem.Label]</label>
						<align>center</align>
					</control>
				</control>
			</focusedlayout>
			<content>
				<item>
					<label>$LOCALIZE[20094]</label>
					<onclick>ActivateWindow(1103)</onclick>
					<icon>icons/settings/filemanager.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14201]</label>
					<onclick>ActivateWindow(PlayerSettings)</onclick>
					<icon>icons/settings/video.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14203]</label>
					<onclick>ActivateWindow(LibrarySettings)</onclick>
					<icon>icons/settings/video.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14205]</label>
					<onclick>ActivateWindow(PVRSettings)</onclick>
					<icon>icons/settings/livetv.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14208]</label>
					<onclick>ActivateWindow(ServiceSettings)</onclick>
					<icon>icons/settings/network.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14207]</label>
					<onclick>ActivateWindow(InterfaceSettings)</onclick>
					<icon>icons/settings/appearance.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[20077]</label>
					<onclick>ActivateWindow(SkinSettings)</onclick>
					<icon>icons/settings/skin.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14210]</label>
					<onclick>ActivateWindow(Profiles)</onclick>
					<icon>icons/settings/profiles.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[14209]</label>
					<onclick>ActivateWindow(SystemSettings)</onclick>
					<icon>icons/settings/system.png</icon>
				</item>
				<item>
					<label>$LOCALIZE[138]</label>
					<onclick>ActivateWindow(systeminfo)</onclick>
					<icon>icons/settings/sysinfo.png</icon>
				</item>
			</content>
		</control>
        <include>Clock</include>
        <include>NavInfo</include>
        <!-- <include>Arrows</include> -->
        <include>BehindDialogFadeOut</include>
        <include>systeminfo</include>
        <include>TouchButtons</include>
	</controls>
</window>
