<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- Menüpunkt Ausblenden-->
	<category label="30001">
		<setting label="30032" type="bool" id="NichtInstalliert" default="false"/>
		<setting label="30010" type="bool" id="Pro7" visible="eq(-1,false)" subsetting="true" default="false"/>
		<setting label="30011" type="bool" id="Sat1" visible="eq(-2,false)" subsetting="true" default="false"/>
		<setting label="30012" type="bool" id="Kabel1" visible="eq(-3,false)" subsetting="true" default="false"/>
		<setting label="30013" type="bool" id="SIXX" visible="eq(-4,false)" subsetting="true" default="false"/>
		<setting label="30014" type="bool" id="Sat1Gold" visible="eq(-5,false)" subsetting="true" default="false"/>
		<setting label="30015" type="bool" id="ProSiebenMAXX" visible="eq(-6,false)" subsetting="true" default="false"/>
		<setting label="30016" type="bool" id="ZDFNeo" visible="eq(-7,false)" subsetting="true" default="false"/>
		<setting label="30017" type="bool" id="ZDFKultur" visible="eq(-8,false)" subsetting="true" default="false"/>
		<setting label="30018" type="bool" id="ZDFInfo" visible="eq(-9,false)" subsetting="true" default="false"/>
		<setting label="30019" type="bool" id="Arte" visible="eq(-10,false)" subsetting="true" default="false"/>
		<setting label="30020" type="bool" id="Kikaninchen" visible="eq(-11,false)" subsetting="true" default="false"/>
		<setting label="30021" type="bool" id="MTV" visible="eq(-17,false)" subsetting="true" default="false"/>
		<setting label="30022" type="bool" id="Nickelodeon" visible="eq(-12,false)" subsetting="true" default="false"/>
		<setting label="30023" type="bool" id="NickJr" visible="eq(-13,false)" subsetting="true" default="false"/>
		<setting label="30024" type="bool" id="NickNight" visible="eq(-14,false)" subsetting="true" default="false"/>
		<setting label="30025" type="bool" id="ORF" visible="eq(-15,false)" subsetting="true" default="false"/>
		<setting label="30026" type="bool" id="TLC" visible="eq(-16,false)" subsetting="true" default="false"/>
		<setting label="30027" type="bool" id="ZDF" visible="eq(-18,false)" subsetting="true" default="false"/>
		<setting label="30028" type="bool" id="ARD" visible="eq(-19,false)" subsetting="true" default="false"/>
		<setting label="30029" type="bool" id="DMAX" visible="eq(-20,false)" subsetting="true" default="false"/>
		<setting label="30030" type="bool" id="KIKA" visible="eq(-21,false)" subsetting="true" default="false"/>
		<setting label="30031" type="bool" id="TELE5" visible="eq(-22,false)" subsetting="true" default="false"/>
		<setting label="30010" type="bool" id="Pro7NI" visible="eq(-23,true)" enable="System.HasAddon(plugin.video.7tv)" subsetting="true" default="false"/>
		<setting label="30011" type="bool" id="Sat1NI" visible="eq(-24,true)" enable="System.HasAddon(plugin.video.7tv)" subsetting="true" default="false"/>
		<setting label="30012" type="bool" id="Kabel1NI" visible="eq(-25,true)" enable="System.HasAddon(plugin.video.7tv)" subsetting="true" default="false"/>
		<setting label="30013" type="bool" id="SIXXNI" visible="eq(-26,true)" enable="System.HasAddon(plugin.video.7tv)" subsetting="true" default="false"/>
		<setting label="30014" type="bool" id="Sat1GoldNI" visible="eq(-27,true)" enable="System.HasAddon(plugin.video.7tv)" subsetting="true" default="false"/>
		<setting label="30015" type="bool" id="ProSiebenMAXXNI" visible="eq(-28,true)" enable="System.HasAddon(plugin.video.7tv)" subsetting="true" default="false"/>
		<setting label="30016" type="bool" id="ZDFNeoNI" visible="eq(-29,true)" enable="System.HasAddon(plugin.video.zdf_de_lite)" subsetting="true" default="false"/>
		<setting label="30017" type="bool" id="ZDFKulturNI" visible="eq(-30,true)" enable="System.HasAddon(plugin.video.zdf_de_lite)" subsetting="true" default="false"/>
		<setting label="30018" type="bool" id="ZDFInfoNI" visible="eq(-31,true)" enable="System.HasAddon(plugin.video.zdf_de_lite)" subsetting="true" default="false"/>
		<setting label="30019" type="bool" id="ArteNI" visible="eq(-32,true)" enable="System.HasAddon(plugin.video.arte_tv)" subsetting="true" default="false"/>
		<setting label="30020" type="bool" id="KikaninchenNI" visible="eq(-33,true)" enable="System.HasAddon(plugin.video.kikaninchen)" subsetting="true" default="false"/>
		<setting label="30021" type="bool" id="MTVNI" visible="eq(-39,true)" enable="System.HasAddon(plugin.video.mtv_de)" subsetting="true" default="false"/>
		<setting label="30022" type="bool" id="NickelodeonNI" visible="eq(-34,true)" enable="System.HasAddon(plugin.video.nick_de)" subsetting="true" default="false"/>
		<setting label="30023" type="bool" id="NickJrNI" visible="eq(-35,true)" enable="System.HasAddon(plugin.video.nick_de)" subsetting="true" default="false"/>
		<setting label="30024" type="bool" id="NickNightNI" visible="eq(-36,true)" enable="System.HasAddon(plugin.video.nick_de)" subsetting="true" default="false"/>
		<setting label="30025" type="bool" id="ORFNI" visible="eq(-37,true)" enable="System.HasAddon(plugin.video.orftvthek4de)" subsetting="true" default="false"/>
		<setting label="30026" type="bool" id="TLCNI" visible="eq(-38,true)" enable="System.HasAddon(plugin.video.tlc_de)" subsetting="true" default="false"/>
		<setting label="30027" type="bool" id="ZDFNI" visible="eq(-40,true)" enable="System.HasAddon(plugin.video.zdf_de_lite)" subsetting="true" default="false"/>
		<setting label="30028" type="bool" id="ARDNI" visible="eq(-41,true)" enable="System.HasAddon(plugin.video.ardmediathek_de)" subsetting="true" default="false"/>
		<setting label="30029" type="bool" id="DMAXNI" visible="eq(-42,true)" enable="System.HasAddon(plugin.video.dmax_de)" subsetting="true" default="false"/>
		<setting label="30030" type="bool" id="KIKANI" visible="eq(-43,true)" enable="System.HasAddon(plugin.video.kika_de)" subsetting="true" default="false"/>
		<setting label="30031" type="bool" id="TELE5NI" visible="eq(-44,true)" enable="System.HasAddon(plugin.video.tele5_de)" subsetting="true" default="false"/>
    </category>
</settings>